{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a id="logo" href="#">
        <svg viewBox="0 0 658 658" xmlns="http://www.w3.org/2000/svg" width="40" height="40">
            <style>
                svg path { fill: white; }
            </style>
            <path d="M643.45 407.509C632.75 398.109 622.1 388.879 611.67 379.409C610.4 378.259 609.77 375.709 609.86 373.849C610.7 356.419 612.7 338.989 612.58 321.579C612.16 262.679 594.28 209.109 560.58 160.999C517.53 99.5195 459.15 59.7095 385.44 45.9195C285.7 27.2595 197.38 52.0695 124.06 123.609C80.0303 166.569 54.5303 219.629 44.5803 280.059C35.4403 335.559 39.5103 389.979 62.8503 441.729C90.8503 503.799 134.91 551.319 195.2 583.519C226.76 600.379 260.26 611.149 295.77 615.029C325.73 618.309 355.58 616.919 385.07 610.089C386.84 609.679 389.53 609.929 390.77 611.029C402.46 621.329 413.93 631.869 424.98 641.909C329.68 676.509 186.36 661.409 83.3603 546.139C-26.8597 422.789 -23.1697 246.259 67.3003 127.449C163.48 1.13949 331.96 -32.3805 468.19 31.7895C609.46 98.3395 680.68 256.319 643.44 407.509H643.45Z"/>
            <path d="M370.46 506.619C366.53 431.419 435.73 361.549 513.65 361.849C600.67 362.179 658.54 433.309 658.11 507.759C657.64 589.149 588.95 652.189 513.9 652.039C433.46 651.879 367.2 582.709 370.46 506.629V506.619ZM488.16 521.539C486.88 519.759 486.06 518.279 484.92 517.099C475.36 507.109 465.85 497.079 456.12 487.259C448.54 479.599 439.33 479.409 432.28 486.399C425.16 493.459 425.2 502.649 432.54 510.269C446.64 524.899 460.76 539.509 474.96 554.039C483.58 562.859 493.32 563.019 502.04 554.199C532.83 523.039 563.49 491.769 594.17 460.499C601.48 453.049 601.53 444.359 594.46 437.139C587.41 429.939 578.72 429.859 571.09 436.949C569.63 438.309 568.28 439.789 566.88 441.219C541 467.619 515.12 494.029 488.15 521.539H488.16Z"/>
            <path d="M326.55 367.309C311.16 367.289 299.13 358.249 295.97 343.229C294.83 337.819 292.2 334.519 288 331.549C255.71 308.659 223.49 285.669 191.24 262.729C182.01 256.159 179.92 247.649 185.68 239.729C190.84 232.639 199.22 231.029 206.78 235.909C229.55 250.589 252.26 265.359 274.99 280.089C286.15 287.319 297.36 294.479 308.43 301.839C311.57 303.929 314.4 304.129 318.15 303.439C323.58 302.439 329.28 302.959 334.86 302.629C337.12 302.499 339.9 302.549 341.52 301.309C356.8 289.529 371.83 277.409 387.04 265.529C411.03 246.779 435.18 228.239 459.1 209.409C469.16 201.489 478.92 193.169 488.64 184.829C495.71 178.759 503.66 178.839 509.25 185.459C514.67 191.879 513.63 199.759 506.77 205.609C466.1 240.269 425.47 274.969 384.82 309.649C376.71 316.559 368.53 323.389 360.5 330.389C359.29 331.439 357.83 333.389 358.03 334.679C360.56 350.769 344.71 368.769 326.54 367.339Z"/>
        </svg>
    </a>
{% endblock %}

{% block swagger_initialization %}
    <script type="text/javascript">
        window.onload = () => {
            loadSwaggerUI({
                defaultModelsExpandDepth: -1
            });
        };
    </script>
{% endblock %}
