  name:  CI 

  on: 
    push: 
      branches: [main, develop]
    pull_request:
      branches: [main, develop]

  jobs:
    backend:
      name: Symfony Backend
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: ./backend
      steps:
        - uses: actions/checkout@v4

        - name: Set up PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.3'
            extensions: mbstring, intl, pdo_mysql
            coverage: none

        - name: Install Composer dependencies
          run: composer install --no-scripts --no-interaction --no-progress --prefer-dist

        #maybe just change the working directory ?
        - name: create root .env file
          run: |
            echo "POSTGRES_DB=best_db" > ../.env
            echo "POSTGRES_USER=user_dot_com" >> ../.env
            echo "POSTGRES_PASSWORD=shhhhhhh" >> ../.env

        # the best practice *for symfony* is to create a .env.test file
        # but to keep the repo clean and for ci/cd experimenting reason (I'm here to learn about it), we create a .env file here 
        # for now the file is tiny so it's not a big deal, but we'll change that if the file grows 
        - name: Create backend .env file
          run: |
            echo "APP_ENV=test" > .env
            echo "APP_SECRET=dummy_secret" >> .env
            echo "DATABASE_URL=sqlite:///%kernel.project_dir%/var/data.db" >> .env
            echo "DEFAULT_URI=http://localhost" >> .env
            echo "CORS_ALLOW_ORIGIN=true" >> .env
            echo "JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem" >> .env 
            echo "JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem" >> .env
            echo "JWT_PASSPHRASE=poufpouf" >> .env
        
        - name: generate JWT keys
          run: php bin/console lexik:jwt:generate-keypair

        #just a sanity check but apparently useful in early projects
        - name: Check Symfony boot and console
          run: |
            php bin/console cache:clear --no-warmup 
            php bin/console about

        #check we're not missing any env variables
        - name: Check Symfony container is valid
          run: php bin/console lint:container
        
        - name: boot Docker
          run: docker compose up -d
        
        - name: Initialize database
          run: |
            docker compose exec backend php bin/console doctrine:migrations:migrate
            docker compose exec backend php bin/console doctrine:fixtures:load
          # we could use the --no-interaction flag but it's better to be aware of what we're doing

        - name: Check routes
          run: php bin/console debug:router

        - name: Clear cache and var
          run: rm -rf var/cache/*

        - name: Run PHPUnit tests (Entities only)
          run: php bin/phpunit tests/Entity/UserTest.php
          
        - name: Run PHPUnit tests
          run: |
            php bin/phpunit --testdox

        