  name:  CI 

  on: 
    push: 
      branches: [main, develop]
    pull_request:
      branches: [main, develop]

  jobs:
    backend:
      name: Symfony Backend
      runs-on: self-hosted
      defaults:
        run:
          working-directory: ./backend
      steps:
        - uses: actions/checkout@v4

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }} 

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: user/app:latest

        - name: Set up PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.3'
            extensions: mbstring, intl, pdo_mysql
            coverage: none

        - name: Install Composer dependencies
          run: composer install --no-scripts --no-interaction --no-progress --prefer-dist

        #maybe just change the working directory ?
        - name: create root .env file
          run: |
            echo "POSTGRES_DB=best_db" > ../.env
            echo "POSTGRES_USER=user_dot_com" >> ../.env
            echo "POSTGRES_PASSWORD=shhhhhhh" >> ../.env

            echo "POSTGRES_DB=best_db" >> $GITHUB_ENV
            echo "POSTGRES_USER=user_dot_com" >> $GITHUB_ENV
            echo "POSTGRES_PASSWORD=shhhhhhh" >> $GITHUB_ENV

        # the best practice *for symfony* is to create a .env.test file
        # but to keep the repo clean and for ci/cd experimenting reason (I'm here to learn about it), we create a .env file here 
        # for now the file is tiny so it's not a big deal, but we'll change that if the file grows 
        - name: Create backend .env file
          run: |
            echo "APP_ENV=test" > .env
            echo "APP_SECRET=dummy_secret" >> .env
            echo "DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=18&charset=utf8" >> .env
            echo "DEFAULT_URI=http://localhost" >> .env
            echo "CORS_ALLOW_ORIGIN=true" >> .env
            echo "JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem" >> .env 
            echo "JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem" >> .env
            echo "JWT_PASSPHRASE=poufpouf" >> .env
        
        - name: generate JWT keys
          run: php bin/console lexik:jwt:generate-keypair

        #just a sanity check but apparently useful in early projects
        - name: Check Symfony boot and console
          run: |
            php bin/console cache:clear --no-warmup 
            php bin/console about

        #check we're not missing any env variables
        - name: Check Symfony container is valid
          run: php bin/console lint:container
        
        - name: boot Docker
          run: docker compose up -d

        - name: Wait for database to be ready
          run: |
            for i in {1..15}; do
              if docker compose exec database pg_isready -U user_dot_com; then
                echo "✅ Database is ready!"
                exit 0
              fi
              echo "⏳ Waiting for database... ($i/15)"
              sleep 2
            done
            echo "❌ Database did not become ready in time."
            exit 1
        
        - name: Create test database
          run: |
            docker compose exec -T database psql -U ${POSTGRES_USER} -d ${POSTGRES_DB} -c "CREATE DATABASE ${POSTGRES_DB}_test;"
        
        - name: Initialize database
          run: |
            docker compose exec backend php -d memory_limit=512M bin/console doctrine:migrations:migrate --no-interaction
            docker compose exec backend php -d memory_limit=512M bin/console doctrine:fixtures:load --no-interaction

        - name: Debug database URL
          run: |
            echo "Current DATABASE_URL:"
            cat .env | grep DATABASE_URL

        - name: Check DB connection
          run: docker compose exec backend php bin/console doctrine:query:sql "SELECT 1;"   

        - name: Check routes
          run: php bin/console debug:router

        - name: Clear cache and var in docker container
          run: docker compose exec backend rm -rf var/cache/*

        - name: Run PHPUnit tests (Entities only)
          run: php bin/phpunit tests/Entity/UserTest.php
          
        - name: Run PHPUnit tests
          run: |
            php bin/phpunit --testdox

        